/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

html {
	font-size: 14px;
	line-height: 20px;
}

/*
* Remove text-shadow in selection highlight: h5bp.com/i
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
* Remove the gap between images, videos, audio and canvas and the bottom of
* their containers: h5bp.com/i/440
*/

audio,
canvas,
img,
video {
	vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
	resize: vertical;
}

/* ==========================================================================
Browse Happy prompt
========================================================================== */

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
.container {
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
.container:before,
.container:after {
	display: table;
	content: " ";
}
.container:after {
	clear: both;
}
.container:before,
.container:after {
	display: table;
	content: " ";
}
.container:after {
	clear: both;
}
.row {
	margin-right: -15px;
	margin-left: -15px;
}
.row:before,
.row:after {
	display: table;
	content: " ";
}
.row:after {
	clear: both;
}
.row:before,
.row:after {
	display: table;
	content: " ";
}
.row:after {
	clear: both;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11 {
	float: left;
}
.col-xs-12 {
	width: 100%;
}
.col-xs-11 {
	width: 91.66666666666666%;
}
.col-xs-10 {
	width: 83.33333333333334%;
}
.col-xs-9 {
	width: 75%;
}
.col-xs-8 {
	width: 66.66666666666666%;
}
.col-xs-7 {
	width: 58.333333333333336%;
}
.col-xs-6 {
	width: 50%;
}
.col-xs-5 {
	width: 41.66666666666667%;
}
.col-xs-4 {
	width: 33.33333333333333%;
}
.col-xs-3 {
	width: 25%;
}
.col-xs-2 {
	width: 16.666666666666664%;
}
.col-xs-1 {
	width: 8.333333333333332%;
}
.col-xs-pull-12 {
	right: 100%;
}
.col-xs-pull-11 {
	right: 91.66666666666666%;
}
.col-xs-pull-10 {
	right: 83.33333333333334%;
}
.col-xs-pull-9 {
	right: 75%;
}
.col-xs-pull-8 {
	right: 66.66666666666666%;
}
.col-xs-pull-7 {
	right: 58.333333333333336%;
}
.col-xs-pull-6 {
	right: 50%;
}
.col-xs-pull-5 {
	right: 41.66666666666667%;
}
.col-xs-pull-4 {
	right: 33.33333333333333%;
}
.col-xs-pull-3 {
	right: 25%;
}
.col-xs-pull-2 {
	right: 16.666666666666664%;
}
.col-xs-pull-1 {
	right: 8.333333333333332%;
}
.col-xs-pull-0 {
	right: 0;
}
.col-xs-push-12 {
	left: 100%;
}
.col-xs-push-11 {
	left: 91.66666666666666%;
}
.col-xs-push-10 {
	left: 83.33333333333334%;
}
.col-xs-push-9 {
	left: 75%;
}
.col-xs-push-8 {
	left: 66.66666666666666%;
}
.col-xs-push-7 {
	left: 58.333333333333336%;
}
.col-xs-push-6 {
	left: 50%;
}
.col-xs-push-5 {
	left: 41.66666666666667%;
}
.col-xs-push-4 {
	left: 33.33333333333333%;
}
.col-xs-push-3 {
	left: 25%;
}
.col-xs-push-2 {
	left: 16.666666666666664%;
}
.col-xs-push-1 {
	left: 8.333333333333332%;
}
.col-xs-push-0 {
	left: 0;
}
.col-xs-offset-12 {
	margin-left: 100%;
}
.col-xs-offset-11 {
	margin-left: 91.66666666666666%;
}
.col-xs-offset-10 {
	margin-left: 83.33333333333334%;
}
.col-xs-offset-9 {
	margin-left: 75%;
}
.col-xs-offset-8 {
	margin-left: 66.66666666666666%;
}
.col-xs-offset-7 {
	margin-left: 58.333333333333336%;
}
.col-xs-offset-6 {
	margin-left: 50%;
}
.col-xs-offset-5 {
	margin-left: 41.66666666666667%;
}
.col-xs-offset-4 {
	margin-left: 33.33333333333333%;
}
.col-xs-offset-3 {
	margin-left: 25%;
}
.col-xs-offset-2 {
	margin-left: 16.666666666666664%;
}
.col-xs-offset-1 {
	margin-left: 8.333333333333332%;
}
.col-xs-offset-0 {
	margin-left: 0;
}
.col-xs-hide {
	display: none;
}

@media (min-width: 500px) {
	.col-sm-1,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,

	.col-sm-8,
	.col-sm-9,
	.col-sm-10,
	.col-sm-11 {
		float: left;
	}
	.col-sm-12 {
		width: 100%;
	}
	.col-sm-11 {
		width: 91.66666666666666%;
	}
	.col-sm-10 {
		width: 83.33333333333334%;
	}
	.col-sm-9 {
		width: 75%;
	}
	.col-sm-8 {
		width: 66.66666666666666%;
	}
	.col-sm-7 {
		width: 58.333333333333336%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-5 {
		width: 41.66666666666667%;
	}
	.col-sm-4 {
		width: 33.33333333333333%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-2 {
		width: 16.666666666666664%;
	}
	.col-sm-1 {
		width: 8.333333333333332%;
	}
	.col-sm-pull-12 {
		right: 100%;
	}
	.col-sm-pull-11 {
		right: 91.66666666666666%;
	}
	.col-sm-pull-10 {
		right: 83.33333333333334%;
	}
	.col-sm-pull-9 {
		right: 75%;
	}
	.col-sm-pull-8 {
		right: 66.66666666666666%;
	}
	.col-sm-pull-7 {
		right: 58.333333333333336%;
	}
	.col-sm-pull-6 {
		right: 50%;
	}
	.col-sm-pull-5 {
		right: 41.66666666666667%;
	}
	.col-sm-pull-4 {
		right: 33.33333333333333%;
	}
	.col-sm-pull-3 {
		right: 25%;
	}
	.col-sm-pull-2 {
		right: 16.666666666666664%;
	}
	.col-sm-pull-1 {
		right: 8.333333333333332%;
	}
	.col-sm-pull-0 {
		right: 0;
	}
	.col-sm-push-12 {
		left: 100%;
	}
	.col-sm-push-11 {
		left: 91.66666666666666%;
	}
	.col-sm-push-10 {
		left: 83.33333333333334%;
	}
	.col-sm-push-9 {
		left: 75%;
	}
	.col-sm-push-8 {
		left: 66.66666666666666%;
	}
	.col-sm-push-7 {
		left: 58.333333333333336%;
	}
	.col-sm-push-6 {
		left: 50%;
	}
	.col-sm-push-5 {
		left: 41.66666666666667%;
	}
	.col-sm-push-4 {
		left: 33.33333333333333%;
	}
	.col-sm-push-3 {
		left: 25%;
	}
	.col-sm-push-2 {
		left: 16.666666666666664%;
	}
	.col-sm-push-1 {
		left: 8.333333333333332%;
	}
	.col-sm-push-0 {
		left: 0;
	}
	.col-sm-offset-12 {
		margin-left: 100%;
	}
	.col-sm-offset-11 {
		margin-left: 91.66666666666666%;
	}
	.col-sm-offset-10 {
		margin-left: 83.33333333333334%;
	}
	.col-sm-offset-9 {
		margin-left: 75%;
	}
	.col-sm-offset-8 {
		margin-left: 66.66666666666666%;
	}
	.col-sm-offset-7 {
		margin-left: 58.333333333333336%;
	}
	.col-sm-offset-6 {
		margin-left: 50%;
	}
	.col-sm-offset-5 {
		margin-left: 41.66666666666667%;
	}
	.col-sm-offset-4 {
		margin-left: 33.33333333333333%;
	}
	.col-sm-offset-3 {
		margin-left: 25%;
	}
	.col-sm-offset-2 {
		margin-left: 16.666666666666664%;
	}
	.col-sm-offset-1 {
		margin-left: 8.333333333333332%;
	}
	.col-sm-offset-0 {
		margin-left: 0;
	}
}

@media (min-width: 768px) {
	.col-md-1,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-md-10,
	.col-md-11 {
		float: left;
	}
	.col-md-12 {
		width: 100%;
	}
	.col-md-11 {
		width: 91.66666666666666%;
	}
	.col-md-10 {
		width: 83.33333333333334%;
	}
	.col-md-9 {
		width: 75%;
	}
	.col-md-8 {
		width: 66.66666666666666%;
	}
	.col-md-7 {
		width: 58.333333333333336%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-5 {
		width: 41.66666666666667%;
	}
	.col-md-4 {
		width: 33.33333333333333%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-2 {
		width: 16.666666666666664%;
	}
	.col-md-1 {
		width: 8.333333333333332%;
	}
	.col-md-pull-12 {
		right: 100%;
	}
	.col-md-pull-11 {
		right: 91.66666666666666%;
	}
	.col-md-pull-10 {
		right: 83.33333333333334%;
	}
	.col-md-pull-9 {
		right: 75%;
	}
	.col-md-pull-8 {
		right: 66.66666666666666%;
	}
	.col-md-pull-7 {
		right: 58.333333333333336%;
	}
	.col-md-pull-6 {
		right: 50%;
	}
	.col-md-pull-5 {
		right: 41.66666666666667%;
	}
	.col-md-pull-4 {
		right: 33.33333333333333%;
	}
	.col-md-pull-3 {
		right: 25%;
	}
	.col-md-pull-2 {
		right: 16.666666666666664%;
	}
	.col-md-pull-1 {
		right: 8.333333333333332%;
	}
	.col-md-pull-0 {
		right: 0;
	}
	.col-md-push-12 {
		left: 100%;
	}
	.col-md-push-11 {
		left: 91.66666666666666%;
	}
	.col-md-push-10 {
		left: 83.33333333333334%;
	}
	.col-md-push-9 {
		left: 75%;
	}
	.col-md-push-8 {
		left: 66.66666666666666%;
	}
	.col-md-push-7 {
		left: 58.333333333333336%;
	}
	.col-md-push-6 {
		left: 50%;
	}
	.col-md-push-5 {
		left: 41.66666666666667%;
	}
	.col-md-push-4 {
		left: 33.33333333333333%;
	}
	.col-md-push-3 {
		left: 25%;
	}
	.col-md-push-2 {
		left: 16.666666666666664%;
	}
	.col-md-push-1 {
		left: 8.333333333333332%;
	}
	.col-md-push-0 {
		left: 0;
	}
	.col-md-offset-12 {
		margin-left: 100%;
	}
	.col-md-offset-11 {
		margin-left: 91.66666666666666%;
	}
	.col-md-offset-10 {
		margin-left: 83.33333333333334%;
	}
	.col-md-offset-9 {
		margin-left: 75%;
	}
	.col-md-offset-8 {
		margin-left: 66.66666666666666%;
	}
	.col-md-offset-7 {
		margin-left: 58.333333333333336%;
	}
	.col-md-offset-6 {
		margin-left: 50%;
	}
	.col-md-offset-5 {
		margin-left: 41.66666666666667%;
	}
	.col-md-offset-4 {
		margin-left: 33.33333333333333%;
	}
	.col-md-offset-3 {
		margin-left: 25%;
	}
	.col-md-offset-2 {
		margin-left: 16.666666666666664%;
	}
	.col-md-offset-1 {
		margin-left: 8.333333333333332%;
	}
	.col-md-offset-0 {
		margin-left: 0;
	}
	.col-md-hide {
		display: none;
	}
	.col-md-show {
		display: inherit;
	}
}

@media (min-width: 992px) {
	.container {
		width: 992px;
	}
	.col-lg-1,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-lg-10,
	.col-lg-11 {
		float: left;
	}
	.col-lg-12 {
		width: 100%;
	}
	.col-lg-11 {
		width: 91.66666666666666%;
	}
	.col-lg-10 {
		width: 83.33333333333334%;
	}
	.col-lg-9 {
		width: 75%;
	}
	.col-lg-8 {
		width: 66.66666666666666%;
	}
	.col-lg-7 {
		width: 58.333333333333336%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-5 {
		width: 41.66666666666667%;
	}
	.col-lg-4 {
		width: 33.33333333333333%;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-2 {
		width: 16.666666666666664%;
	}
	.col-lg-1 {
		width: 8.333333333333332%;
	}
	.col-lg-pull-12 {
		right: 100%;
	}
	.col-lg-pull-11 {
		right: 91.66666666666666%;
	}
	.col-lg-pull-10 {
		right: 83.33333333333334%;
	}
	.col-lg-pull-9 {
		right: 75%;
	}
	.col-lg-pull-8 {
		right: 66.66666666666666%;
	}
	.col-lg-pull-7 {
		right: 58.333333333333336%;
	}
	.col-lg-pull-6 {
		right: 50%;
	}
	.col-lg-pull-5 {
		right: 41.66666666666667%;
	}
	.col-lg-pull-4 {
		right: 33.33333333333333%;
	}
	.col-lg-pull-3 {
		right: 25%;
	}
	.col-lg-pull-2 {
		right: 16.666666666666664%;
	}
	.col-lg-pull-1 {
		right: 8.333333333333332%;
	}
	.col-lg-pull-0 {
		right: 0;
	}
	.col-lg-push-12 {
		left: 100%;
	}
	.col-lg-push-11 {
		left: 91.66666666666666%;
	}
	.col-lg-push-10 {
		left: 83.33333333333334%;
	}
	.col-lg-push-9 {
		left: 75%;
	}
	.col-lg-push-8 {
		left: 66.66666666666666%;
	}
	.col-lg-push-7 {
		left: 58.333333333333336%;
	}
	.col-lg-push-6 {
		left: 50%;
	}
	.col-lg-push-5 {
		left: 41.66666666666667%;
	}
	.col-lg-push-4 {
		left: 33.33333333333333%;
	}
	.col-lg-push-3 {
		left: 25%;
	}
	.col-lg-push-2 {
		left: 16.666666666666664%;
	}
	.col-lg-push-1 {
		left: 8.333333333333332%;
	}
	.col-lg-push-0 {
		left: 0;
	}
	.col-lg-offset-12 {
		margin-left: 100%;
	}
	.col-lg-offset-11 {
		margin-left: 91.66666666666666%;
	}
	.col-lg-offset-10 {
		margin-left: 83.33333333333334%;
	}
	.col-lg-offset-9 {
		margin-left: 75%;
	}
	.col-lg-offset-8 {
		margin-left: 66.66666666666666%;
	}
	.col-lg-offset-7 {
		margin-left: 58.333333333333336%;
	}
	.col-lg-offset-6 {
		margin-left: 50%;
	}
	.col-lg-offset-5 {
		margin-left: 41.66666666666667%;
	}
	.col-lg-offset-4 {
		margin-left: 33.33333333333333%;
	}
	.col-lg-offset-3 {
		margin-left: 25%;
	}
	.col-lg-offset-2 {
		margin-left: 16.666666666666664%;
	}
	.col-lg-offset-1 {
		margin-left: 8.333333333333332%;
	}
	.col-lg-offset-0 {
		margin-left: 0;
	}
}

.align-left {
	text-align:left;
}
.align-center {
	text-align:center;
}
.align-right {
	text-align:right;
}
.center {
	margin-left:auto;
	margin-right:auto;
}
.block {
	display:block;
}
.inline {
	display:inline;
}
.inline-block {
	display:inline-block;
}
.padding-0 {
	padding: 0;
}
.padding-left-0 {
	padding-left: 0;
}
.padding-right-0 {
	padding-right: 0;
}
.margin-0 {
	margin: 0;
}
.margin-top-10 {
	margin-top:10px;
}
.margin-bottom-10 {
	margin-bottom:10px;
}
.margin-right-10 {
	margin-right: 10px;
}
.margin-left-10 {
	margin-left: 10px;
}
.margin-top-20 {
	margin-top:20px;
}
.margin-bottom-20 {
	margin-bottom:20px;
}
.no-wrap, .nowrap {
	white-space: nowrap;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}

a, a:link , a:visited, a:active {
  color: #3B6EBA;
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

@font-face {
    font-family: 'serving';
    src: url('http://www.assinc.com/webfont/black_jack-webfont.eot');
    src: url('http://www.assinc.com/webfont/black_jack-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.assinc.com/webfont/black_jack-webfont.woff2') format('woff2'),
         url('http://www.assinc.com/webfont/black_jack-webfont.woff') format('woff'),
         url('http://www.assinc.com/webfont/black_jack-webfont.ttf') format('truetype'),
         url('http://www.assinc.com/webfont/black_jack-webfont.svg#blackjackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'sinkinsans';
  src: url('http://www.assinc.com/webfont/sinkinsans-300light-webfont.eot');
  src: url('http://www.assinc.com/webfont/sinkinsans-300light-webfont.eot?#iefix') format('embedded-opentype'),
  url('http://www.assinc.com/webfont/sinkinsans-300light-webfont.woff') format('woff'),
  url('http://www.assinc.com/webfont/sinkinsans-300light-webfont.ttf') format('truetype'),
  url('http://www.assinc.com/webfont/sinkinsans-300light-webfont.svg#open-sans') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sinkinsans_bold';
  src: url('http://www.assinc.com/webfont/sinkinsans-700bold-webfont.eot');
  src: url('http://www.assinc.com/webfont/sinkinsans-700bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('http://www.assinc.com/webfont/sinkinsans-700bold-webfont.woff') format('woff'),
  url('http://www.assinc.com/webfont/sinkinsans-700bold-webfont.ttf') format('truetype'),
  url('http://www.assinc.com/webfont/sinkinsans-700bold-webfont.svg#open-sans_bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'tex';
    src: url('http://www.assinc.com/webfont/texgyreadventor-regular-webfont.eot');
    src: url('http://www.assinc.com/webfont/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.assinc.com/webfont/texgyreadventor-regular-webfont.woff2') format('woff2'),
         url('http://www.assinc.com/webfont/texgyreadventor-regular-webfont.woff') format('woff'),
         url('http://www.assinc.com/webfont/texgyreadventor-regular-webfont.ttf') format('truetype'),
         url('http://www.assinc.com/webfont/texgyreadventor-regular-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'texbold';
    src: url('http://www.assinc.com/webfont/texgyreadventor-bold-webfont.eot');
    src: url('http://www.assinc.com/webfont/texgyreadventor-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.assinc.com/webfont/texgyreadventor-bold-webfont.woff2') format('woff2'),
         url('http://www.assinc.com/webfont/texgyreadventor-bold-webfont.woff') format('woff'),
         url('http://www.assinc.com/webfont/texgyreadventor-bold-webfont.ttf') format('truetype'),
         url('http://www.assinc.com/webfont/texgyreadventor-bold-webfont.svg#texgyreadventorbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
.fs1 {
	font-family: serving,Arial,sans-serif;
}
.os {
	font-family: sinkinsans,Arial,sans-serif;
}
.os.bold, .osb {
	font-family: sinkinsans_bold,Arial,sans-serif;
	letter-spacing: -.25px;
}
.tex {
	font-family: tex,Arial,sans-serif;
	font-weight: 400;
	letter-spacing: .25px;
}
.tex.bold, .texb, .tex strong {
	font-family: texbold,Arial,sans-serif;
	font-weight: 400;
	letter-spacing: .5px;
}
.green, .red {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin: 15px 0;
	padding: 10px 15px;
}
.green {
	background: #E4FFD8;
	color: #137D11;
}
.red {
	background: #FFD6D6;
	color: red;
}

body {
	font-family: sinkinsans,Arial,sans-serif;
}

.red-gradient {
	background: #a33939; /* Old browsers */
	background: -moz-linear-gradient(top, #a33939 0%, #a42826 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #a33939 0%,#a42826 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #a33939 0%,#a42826 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a33939', endColorstr='#a42826',GradientType=0 ); /* IE6-9 */
}
.dark-blue-gradient {
	background: #62738b; /* Old browsers */
	background: -moz-linear-gradient(top, #62738b 0%, #2b3a50 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #62738b 0%,#2b3a50 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #62738b 0%,#2b3a50 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62738b', endColorstr='#2b3a50',GradientType=0 ); /* IE6-9 */
}
.grey-white-gradient {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #fafafa 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#fafafa 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#fafafa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
}
.stripe-bg {
	background: url(../img/stripe-bg.png) top center repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
	.stripe-bg {
		background: url(../img/stripe-bg@2x.png) top center repeat;
	}
}

header {
	color: #FFF;
}
header .logo {
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
	box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
	border-bottom: solid 5px #A42826;
	padding: 15px;
	position: relative;
	z-index: 999;
}
header .logo img {
	height: auto;
	width: 100%;
}
header .container:after {
	content: '';
	background: url(../img/header-shadow.png) top center no-repeat;
	bottom: -12px;
	display: block;
	height: 12px;
	position: absolute;
	width: 100%;
	z-index: 1;
}
@media (min-width: 350px) {
	header .logo img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 230px;
	}
}
@media (min-width: 500px) {
	header .logo {
		border-bottom: 0px solid transparent;
		-webkit-border-radius: 10px;
		border-radius: 0 0 10px 10px;
		width: 290px;
	}
}

header .info {
	display: block;
	padding: 10px 0;
	text-align: center;
}
header .info a {
	color: #FFF;
	display: block;
	font-size: 20px;
}
.serving, .slider {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Nav Menu */
nav {}
nav a, nav a:link, nav a:visited, nav a:active {
	text-decoration: none;
	text-transform: none;
}
nav ul {
	background: #DDD;
	margin: 0;
	padding: 0;
}
nav li:last-of-type {
	padding-bottom: 15px;
}
.droptab-menu a {
	display: block;
	font-size: 22px;
	outline: none;
	padding: 15px;
	width: 100%
}
.droptab-small-menu {
	border-bottom: none;
	height: 0;
	margin: 0;
	overflow: hidden;
	text-align: left;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.droptab-small-menu.open {
	border-bottom: solid 10px #62738b;
	height: auto;
}
.droptab-small-menu li {
	display: block;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.droptab-small-menu li + li {
	border-top: dashed 1px #62738b;
	margin: 0;
}
.droptab-selector {
	background: rgba(255,255,255,.2);
	color: #FFF;
	display: none;
	height: 40px;
	margin: 0;
	position: relative;
}
.droptab-selector.on {
	display: block;
}
.droptab-selector.open {
}
.droptab-select-current {
	font-size: 20px;
	line-height: 40px;
	opacity: 1;
	padding-left: 20px;
}
.droptab-select-button {
	background: rgba(255,255,255,.2);
	cursor: pointer;
	float: right;
	min-height: 100%;
	text-indent: -999em;
	width: 40px;
}
.droptab-select-button:after {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #FFF;
	content: "";
	height: 0;
	position: absolute;
	right: 10px;
	top: 16px;
	width: 0;
}
.droptab-select-current, .droptab-select-button, .droptab-select-button:after, .menu2select, .menu3select {
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
}
.droptab-selector.open .droptab-select-button {
	background: #DDD;
}
.droptab-selector.open .droptab-select-button:after {
	border-top: 10px solid #26354a;
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.drop-tab-hidden {
	opacity: 0;
}

h1, h2.likeh1 {
	font-family: texbold,Arial,sans-serif;
	font-size: 19px;
	font-weight: 400;
	letter-spacing: .5px;
}
h2, legend {
	font-family: texbold,Arial,sans-serif;
	font-size: 17px;
	font-weight: 400;
	letter-spacing: .5px;
}
.content h2:not(.likeh1):before, legend:before {
	border-color: transparent transparent transparent #A42826;
	border-style: solid;
	border-width: 5px 0 5px 8.7px;
	content: '';
	display: inline-block;
	height: 0;
	margin-right: 5px;
	position: relative;
	top: -1px;
	width: 0;
}
section h2:not(.likeh1):first-child, section .section-top-spacing {
	margin: 2em auto .5em auto;
}
h3, h4 {
	color: #444;
	font-family: sinkinsans_bold,Arial,sans-serif;
	letter-spacing: -.25px;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
}
h2 + h3, h2 + h4 {
	margin: 1em 0;
}

ul {
	margin-top: 0;
}

.list-spacing li + li {
	margin-top: .5em;
}

.inline-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.inline-list li {
	display: inline-block;
	padding: 0;
}

.review-list {
	margin-bottom: 5em;
}
.review-list li {
	padding: 0 .25em;
	text-align: center;
}
.review-list span {
	margin: 0;
}
.review-list a {
	display: inline-block;
}
@media screen and (min-width: 640px) {
	.review-list li {
		padding: 0 1em;
	}
}

dt, dd {
	display: inline;
}
dt {
	font-family: sinkinsans_bold,Arial,sans-serif;
	letter-spacing: -.25px;
	font-size: 14px;
	font-weight: 400;
}
dd {
	margin: 0 0 0 5px;
}
dd + dt:before {
	content: '';
	display: block;
	margin-top: 15px;
}
/* Main */

main {
	background: #b3bcc7;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IzYmNjNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #b3bcc7 0%, #eeeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3bcc7), color-stop(100%,#eeeeee));
	background: -webkit-linear-gradient(top,  #b3bcc7 0%,#eeeeee 100%);
	background: -o-linear-gradient(top,  #b3bcc7 0%,#eeeeee 100%);
	background: -ms-linear-gradient(top,  #b3bcc7 0%,#eeeeee 100%);
	background: linear-gradient(to bottom,  #b3bcc7 0%,#eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3bcc7', endColorstr='#eeeeee',GradientType=0 );
}
main .container {
	background: #fafafa;
	padding-bottom: 50px;
}
@media (max-width: 767px) {
	h1.red-gradient, h2.likeh1.red-gradient {
		background: none;
	}
}
h1 + p, h2.likeh1 + p {
	margin-top: 0;
}
h3 + p, h4 + p {
	margin-top: .25em;
}
.image-holder {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #FFF;
	display: inline-block;
	padding: 5px;
	text-align: center;
}
.image-holder img, img.responsive {
	height: auto;
	max-width: 100%;
	width: 100%;
}
img.responsive {
	width: auto;
}
.image-holder, .awards {
	background: #99a0aa;
}
.gmap {
	border: 1px solid #99a0aa;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.service-partners > div + div {
	margin-top: 15px;
}
@media (min-width: 500px) {
	.service-partners > div + div {
		margin-top: 0;
	}
}
.service-partners h4 {
	text-decoration: underline;
}
.service-partners ul {
	display: block;
	float: left;
	list-style-type: none;
	margin: 5px 0 0 0;
	padding: 0;
}
.service-partners ul + ul {
	margin-left: 30px;
}

/* Aside */
.container aside {

}

@media (min-width: 768px) {
	.container aside.no-left-pad {
		padding-left: 0;
	}
}
.logo-list {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0 5px 0 0;
	width: 50%;
}
.logo-list + .logo-list {
	padding: 0 0 0 5px;
}
@media (min-width: 500px) {
	.logo-list {
		padding: 0;
	}
	.logo-list + .logo-list {
		padding: 0;
	}
}
@media (min-width: 768px) {
	.logo-list {
		float: none;
		width: 100%;
	}
	.logo-list + .logo-list {
		margin-top: 10px;
	}
}
.logo-list img {
	opacity: .8;
}
.logo-list img:hover {
	opacity: 1;
}
.logo-list li + li {
	margin-top: 15px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
	.logos {
		background: url(../img/logos@2x.png);
	}
}

/* Social Bar */
.soc {
	background: #636F81;
	padding: 1.5em 0;
}
.soc a, .soc a:hover {
	color: #FFF;
	text-decoration: none;
}
.soc-item {
	line-height: 1.3em;
	padding-left: 15%;
}
.soc-item + .soc-item {
	margin-top: 1em;
}
.fb-logo, .gp-logo, .al-logo, .yelp-logo, .bbb-logo {
	background: url(../img/sprite.svg) 0 0 / 295px auto no-repeat;
	display: inline-block;
	float: left;
	margin-right: 8px;
	opacity: .9;
	position: relative;
	text-indent: -9999px;
	top: 0;
	width: 38px;
	height: 38px;
}
.no-svg .fb-logo, .no-svg .gp-logo, .no-svg .al-logo, .no-svg .yelp-logo, .no-svg .bbb-logo {
	background: url(../img/sprite.png) 0 0 / 295px auto no-repeat;
}
.fb-logo {
	background-position: -91px 0;
}
.gp-logo {
	background-position: -132px 0;
}
.al-logo {
	background-position: -173px 0;
}
.yelp-logo {
	background-position: -214px 0;
}
.bbb-logo {
	background-position: -256px 0;
}
.soc a:hover .fb-logo, .soc a:hover .gp-logo, .soc a:hover .al-logo {
	opacity: 1;
}
@media screen and (min-width: 500px) {
	.soc-item {
		padding-left: 15px;
	}
	.soc-item + .soc-item {
		margin-top: 0;
	}
}

/* Footer */
.awards {
	color: #26354a;
	font-size: 14px;
	padding: 15px 0;
}
.award + .award {
	padding-top: 10px;
}
.awards .angies-list img {
	float: left;
	margin-right: 10px;
}
.awards .bosch img {
	float: right;
	margin-left: 10px;
}
footer {
	position: relative;
}
footer .info {
	background: #26354a;
	color: #FFF;
}
footer .vcard, footer .phone, footer .hours {
	text-align: center;
}
footer .info p {
	margin: 0;
}
footer .info .container {
	padding: 15px 0;
}
footer .vcard .fn {
	font-size: 19px;
	margin-bottom: .25em;
}
footer .vcard .adr {
	margin-top: .25em;
}
footer .vcard span, footer .business-hours span {
	display: block;
}
footer .phone ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
footer .phone a {
	color: #FFF;
}
footer .info .container > div + div {
	margin-top: 15px;
}

@media (min-width: 500px) {
	header .logo {
		margin-left: auto;
		margin-right: auto;
	}
	header .info a {
		display: inline;
	}
	.awards .angies-list img, .awards .bosch img {
		float: left;
		margin-left: 0;
		margin-right: 15px;
		margin-top: -20px;
		position: relative;
		z-index: 10;
	}
	.award + .award {
		padding-top: 0;
	}
}

/* Brands we service */
.brand-list {
	list-style-type: none;
}
.brand-list li {
	font-size: 18px;
}
.brand-list li + li {
	margin-top: 10px;
}
.brand-list li:before {
	background: url(../img/sprite.svg) 0 -1px / 115px auto no-repeat;
	content: 'info';
	display: inline-block;
	margin-right: 6px;
	position: relative;
	text-indent: -9999px;
	top: 3px;
	width: 10px;
	height: 20px;
}
.no-svg .brand-list li:before {
	background: url(../img/sprite.png) 0 -1px / 90px auto no-repeat;
}

/* Brands */
.approved {
	background: #E4FFD8;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	display: inline-block;
	margin: 15px 5px 0 0;
	padding: 10px 30px 10px 15px;
	position: relative;
	text-align: center;
}
.icon {
	background-image: url(../img/sprite.svg);
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	vertical-align: middle;
}
.no-svg .icon {
	background-image: url(../img/sprite.png);
}
.approved .icon {
	background-color: #81D620;
	background-position: -10px 5px;
	background-size: 100px auto;
	border: #FAFAFA solid 4px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	height: 30px;
	right: -15px;
	margin-top: -15px;
	position: absolute;
	top: 50%;
	width: 30px;
}
@media (min-width: 1030px) {
	.approved {
		-webkit-border-radius: 10px 0 0 10px;
		border-radius: 10px 0 0 10px;
		display: block;
		margin: 15px -15px 0 0;
		padding: 10px 15px;
	}
	.approved .icon {
		border-color: #e4ffd8;
	}
}

/* Forms */
.button {
	background: #62738b;
	background-image: -webkit-linear-gradient(top, #62738b, #2b3a50);
	background-image: -moz-linear-gradient(top, #62738b, #2b3a50);
	background-image: -ms-linear-gradient(top, #62738b, #2b3a50);
	background-image: -o-linear-gradient(top, #62738b, #2b3a50);
	background-image: linear-gradient(to bottom, #62738b, #2b3a50);
	border: none;
	-webkit-border-radius: 2;
	-moz-border-radius: 2;
	border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px;
	text-decoration: none;
	display: block;
}
.button:hover {
	background: #2b3a50;
	text-decoration: none;
}
.button, .ajax-loader {
        margin: 2em auto;
}
.inline-btn {
	display: inline-block;
	font-size: 16px;
	margin: 0 15px;
	padding: 7px 20px;
}
fieldset {
	padding: 15px;
}
fieldset + fieldset {
	margin-top: 15px;
}
legend {
	margin-left: -15px;
}
legend + p {
	color: #666;
	margin-top: 0;
}
label {
	color: #666;
	display: block;
	margin-bottom: .25em;
	text-indent: 5px;
}
input, select, textarea {
	border: solid 1px #DDD;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 0 1px 3px #DDD;
	box-shadow: 0 1px 3px #DDD;
	padding: 8px 10px;
	width: 100%;
}
input[type="checkbox"], input[type="radio"] {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.auto input, .auto select, .auto textarea {
	width: auto;
}
.touched:invalid {
	border: solid 1px #be222a;
}

/* Polish order form */

.signature-polish-item .price {
	font-size: 16px;
}
.signature-polish-item .name, .signature-polish-item .price {
	color: #62738b;
}
.signature-polish-form .button {
	width: auto;
}
.recommended a {
	display: inline-block;
	margin-left: 0;
}
@media (min-width: 500px) {
	.recommended a {
		margin-left: 15px;
	}
}
.secured-by-paypal {
	margin: 4em 0;
}
@media (min-width: 768px) {
	.secured-by-paypal {
		margin: 8em 0 0 0;
	}
}
.secured-by-paypal img {
	opacity: .6;
}
.secured-by-paypal img:hover {
	opacity: .7;
}

/* Contact form */

input.submit {
	width: 200px;
}
#service-form .row + .row, .form-field + .form-field {
	margin-top: 25px;
}
.or {
	color: #99A0AA;
	margin-bottom: -15px;
}

/* Service Area */
#zip-check input {
	width: auto;
}
@media screen and (min-width: 768px) {
	#zip-check input {
		width: 6em;
	}
}
@media screen and (min-width: 992px) {
	#zip-check input {
		width: auto;
	}
}

/* Survey Page */

#survey-form .row {
	margin-top: 15px;
}
#survey-form ul {
	list-style: none;
	margin: 5px 0;
}
#survey-form li {
	padding: 5px 0;
	vertical-align: middle;
}
#survey-form label {
	display: inline-block;
}
#survey-form input[type="checkbox"], #survey-form input[type="radio"] {
	width: auto;
}
#survey-form .ten-question > div {
	float: left;
	margin-top: 10px;
	text-align: center;
	width: 20%;
}
#survey-form textarea {
	margin-top: 10px;
}
@media screen and (min-width: 768px) {
	#survey-form .ten-question > div {
		width: 10%;
	}
}

/* Browse Happy */
.browsehappy {
	padding: 2em 0;
	text-align: center;
}


/* Main media queries */

@media (min-width: 768px) {
	header .logo {
		margin-left: 15px;
	}
	header .info {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 43%;
	}
	header .info a {
		display: block;
	}
	header .info, header .info a {
		color: #aad4f1;
		font-size: 1.7em;
		line-height: 1em;
		text-shadow: 1px 1px 1px #26354a;
	}
	header .container {
		height: 245px;
	}
	header .container.small {
		height: auto;
	}
	nav {
		padding: 15px 0;
		text-align: center;
		width: 100%;
		z-index: 1;
	}
	nav ul {
		background: none;
	}
	nav li:last-of-type {
		padding-bottom: inherit;
	}
	nav li {
		display: inline-block;
		padding: 0;
	}
	nav li + li {
		margin-left: 10px;
	}
	nav a, nav a:link, nav a:visited, nav a:active {
		color: #FFF;
		font-size: 16px;
		padding: 5px 10px;
	}
	nav li.active {
		background: rgba(0,0,0,.15);
		-webkit-border-radius: 3px;
		border-radius: 3px;
		position: relative;
	}
	nav .home {
		display: none;
	}
	.serving {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: auto;
		padding: 0;
		position: static;
		width: auto;
	}
	.serving {
		font-size: 2.5em;
		height: 65px;
		line-height: 65px;
		opacity: .25;
		text-align: center;
		text-shadow: 0 0 5px rgba(255,255,255,.5);
	}
	main .container {
		padding-bottom: 130px;
		padding-top: 15px;
	}
	h1.red-gradient, h2.likeh1.red-gradient {
		-webkit-border-radius: 0 5px 5px 0;
		border-radius: 0 5px 5px 0;
		-webkit-box-shadow: 2px 2px 1px 0 rgba(0,0,0,.5);
		box-shadow: 2px 2px 1px 0 rgba(0,0,0,.5);
		display: inline-block;
		color: #FFF;
		left: -25px;
		margin: 1em 0;
		padding: 10px 20px 10px 25px;
		position: relative;
		text-shadow: 1px 1px 1px #8F0000;
	}
	h1.red-gradient:before, h2.likeh1.red-gradient:before {
		border-style: solid;
		border-width: 0 10px 10px 0;
		border-color: transparent #6b0000 transparent transparent;
		bottom: -10px;
		content: '';
		height: 0;
		left: 0;
		position: absolute;
		width: 0;
	}
	/* Footer */
	footer .phone {
		text-align: left;
	}
	footer .hours {
		text-align: right;
	}
	footer .info:before {
		content: '';
		background: url("../img/seattle.svg") no-repeat scroll 100px bottom / contain  rgba(0, 0, 0, 0);
		background-size: contain;
		height: 116px;
		pointer-events: none;
		position: absolute;
		right: 0;
		top: -115px;
		width: 768px;
	}
	.no-svg footer .info:before {
		background: url(../img/seattle.png) no-repeat scroll 100px bottom / contain  rgba(0, 0, 0, 0);
		background-size: contain;
	}
	.recommended a {
		display: block;
		margin-left:0px;
		margin-top: 10px;
	}
	.form-field + .form-field {
		margin-top: 0;
	}
	.or {
		margin-bottom: 0;
	}
	.or span {
		bottom: -25px;
		position: relative;
	}
}

@media (min-width: 992px) {
	header .info {
		left: 35%;
	}
	header .info a {
		display: inline;
	}
	header .info, header .info a {
		font-size: 35px;
	}
	nav {
		position: absolute;
		left: 31%;
		top: 50px;
		width: 69%;
	}
	.small nav {
		top: 44px;
	}
	nav li + li {
		margin-left: 0;
	}
	nav a, nav a:link, nav a:visited, nav a:active {
		padding: 4px 10px;
	}
	header .container {
		height: 465px;
	}
	header .container.small {
		height: 100px;
	}
	.soc-item {
		padding-left: 8%;
	}
	footer .info:before {
		background: url("../img/seattle.svg") no-repeat scroll right bottom / contain  rgba(0, 0, 0, 0);
	}
	/* Slider */
	.slider {
		clip: auto;
		color: #FFF;
		height: 290px;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		top: 175px;
		width: 100%;
	}
	.slider h3, .slider ul, .slider .slider-img {
		-webkit-transition: all 1s cubic-bezier(.2, 1, .2, 1);
				transition: all 1s cubic-bezier(.2, 1, .2, 1);
	}
	.slider h3 {
		color: #aad4f1;
		font-size: 28px;
		font-weight: 400;
		text-shadow: 2px 2px 0 #2b3a50;
		-webkit-transition-delay: 0;
        		transition-delay: 0;
	}
	.slide-left h3 {
		margin: 10px 580px 0 0;
		text-align: right;
	}
	.slide-right h3 {
		margin: 10px 0 0 580px;
	}
	.slider ul {
		display: inline-block;
		font-size: 18px;
		list-style-type: none;
		opacity: .7;
		padding: 0;
		text-shadow: 2px 2px 0 #2b3a50;
		-webkit-transition-delay: .3s;
        		transition-delay: .3s;
        width: 160px;
	}
	.slider ul + ul {
		margin-left: 0;
	}
	.slide-left ul {
		margin: 10px 0 0 210px;
		text-align: right;
	}
	.slide-right ul {
		margin: 20px 0 0 620px;
	}
	.slider li.first {
		font-size: 19px;
	}
	.slider li {
		margin-top: 6px;
	}
	.slider .slider-img {
		bottom: 0;
		position: absolute;
		-webkit-transition-delay: .2s;
        		transition-delay: .2s;
	}
	.slide-left .slider-img {
		right: 15px;
	}
	.slide-right .slider-img {
		left: 15px;
	}
	.slide {
		bottom: 0;
		height: 290px;
		left: 50%;
		margin-left: -496px;
		position: absolute;
		width: 992px;
	}
	.slide.refrigerator .slider-img{
		background: url(../img/slider-fridge.png) bottom center no-repeat;
		height: 280px;
		width: 550px;
	}
	.slide.range .slider-img{
		background: url(../img/slider-range.png) bottom center no-repeat;
		height: 280px;
		width: 550px;
	}
	.slide.dishwasher .slider-img{
		background: url(../img/slider-dishwasher.png) bottom center no-repeat;
		height: 280px;
		width: 550px;
	}
	.slide.washer .slider-img{
		background: url(../img/slider-washer.png) bottom center no-repeat;
		height: 280px;
		width: 550px;
	}
	.slide.off h3, .slide.off ul, .slide.off .slider-img {
		opacity: 0;
	}
	.slide.on h3 {
		opacity: .3;
	}
	.slide.on ul {
		opacity: .7;
	}
	.slide.on .slider-img {
		opacity: 1;
	}
	.slide.off.slide-left h3, .slide.off.slide-left ul {
		-webkit-transform:translate(-30px, 0);
		    -ms-transform:translate(-30px, 0);
		        transform:translate(-30px, 0);
	}
	.slide.off.slide-left .slider-img {
		-webkit-transform:translate(80px, 0);
		    -ms-transform:translate(80px, 0);
		        transform:translate(80px, 0);
	}
	.slide.off.slide-right h3, .slide.off.slide-right ul {
		-webkit-transform:translate(30px, 0);
		    -ms-transform:translate(30px, 0);
		        transform:translate(30px, 0);
	}
	.slide.off.slide-right .slider-img {
		-webkit-transform:translate(-80px, 0);
		    -ms-transform:translate(-80px, 0);
		        transform:translate(-80px, 0);
	}
}

@media (min-width: 1185px) {
	.slider {
		left: 50%;
		margin: 0 0 0 -496px;
		overflow: visible;
		width: 992px;
	}
}

@media (min-width: 1200px) {
	footer .info:before {
		left: 50%;
		margin-left: -170px;
		right: auto;
	}
}

.tech-item {

}
.tech-item + .tech-item {
	margin-top: 2rem;
}
.cred {
	font-size: .75rem;
}



/* ==========================================================================
Helper classes
========================================================================== */

/*
* Image replacement
*/

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

/*
* Hide from both screenreaders and browsers: h5bp.com/u
*/

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
* Hide only visually, but have it available for screenreaders: h5bp.com/v
*/

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
* Hide visually and from screenreaders, but maintain layout
*/

.invisible {
	visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid required HTTP connection: h5bp.com/r
========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

/*
* Don't show links for images, or javascript/internal links
*/

.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
	content: "";
}

pre,
blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}

thead {
	display: table-header-group; /* h5bp.com/t */
}

tr,
img {
	page-break-inside: avoid;
}

img {
	max-width: 100% !important;
}

@page {
	margin: 0.5cm;
}

p,
h2,
h3 {
	orphans: 3;
	widows: 3;
}

h2,
h3 {
	page-break-after: avoid;
}
}
